.centered {
  padding: 15px 30px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-gray);
}
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 28px;
}
.others {
  display: flex;
  gap: 20px;
}
.inputSearch {
  border: 1px solid var(--color-gray);
  width: 250px;
  border-radius: 25px;
  padding: 0 15px;
  box-shadow: var(--shadow-small);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s all;
}
.inputSearch:hover,
.inputSearch:has(.searchBar:focus) {
  border: 1px solid var(--color-complement);
}
.searchBar,
.buttonSearch {
  all: unset;
}
.buttonSearch {
  display: none;
}
.user {
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 25px;
}

.optionsGroup {
  display: flex;
  gap: 20px;
}
.option {
  font-size: 15px;
  text-decoration: none;
  color: var(--color-gray);
}

.optionActive {
  color: var(--color-complement);
  font-weight: 600;
}




@media screen and (max-width: 1024px) {
  .buttonSearch {
    display: block;
  }
  .inputSearch {
    display: none;
  }
}